<link rel="stylesheet" href="../../public/stylesheets/footer.css" />
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <div class="copyright">© YelpCamp 2023</div>

        <!-- LinkedIn, GitHub, and Gmail links with logos -->
        <div class="social-links">
            <a href="https://www.linkedin.com/in/shwetank-sinha-200ab2282/" target="_blank" rel="noopener noreferrer">
                <img src="../../public/assets/linkedin.png" alt="LinkedIn Logo" class="logo">
            </a>
            
            <a href="https://github.com/Shwetank8" target="_blank" rel="noopener noreferrer">
                <img src="../../public/assets/GitHub-logo.png" alt="GitHub Logo" class="logo">
            </a>

            <a href="mailto:sinhashwetank74@gmail.com" target="_blank" rel="noopener noreferrer">
                <img src="../../public/assets/gmail.png" alt="Gmail Logo" class="logo">
            </a>
        </div>
    </div>
</footer>
