<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; YelpCamp 2023</span>

        <!-- LinkedIn and GitHub links with logos -->
        <div class="social-links">
            <a href="https://www.linkedin.com/your-linkedin-profile" target="_blank" rel="noopener noreferrer">
                <img src="https://www.linkedin.com/in/shwetank-sinha-200ab2282/" alt="LinkedIn Logo" width="30" height="30">
            </a>
            
            <a href="https://github.com/your-github-username" target="_blank" rel="noopener noreferrer">
                <img src="https://github.com/Shwetank8" alt="GitHub Logo" width="30" height="30">
            </a>
            <a href="mailto:sinhashwetank74@gmail.com" target="_blank" rel="noopener noreferrer">
                <img src="../../public/assets/Gmail-new-logo.webp" alt="Gmail Logo" width="30" height="30">
            </a>
        </div>
    </div>
</footer>
