<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; YelpCamp 2023</span>
        <div class="f-info-socials">
            <span>
              <a href=""
                ><i class="fa-brands fa-linkedin"></i
              ></a>
            </span>
            <span>
                <a class="custom-icon2" href=""
                  ><i class="fa-brands fa-github"></i
                ></a>
              </span>
        </div>
    </div>
</footer>
